<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <div class="card rounded shadow shadow-sm">
            <div class="card-header">
              <h3 class="mb-0">Ponovno postavljanje lozinke</h3>
            </div>
            <div class="card-body">
              <div *ngIf="!SendingEmail; else sendingEmail">
                <div *ngIf="!EmailSent; else emailSent">
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Email"
                      #email
                      required
                      (keyup)="EmailChanged()"
                    />
                  </div>

                  <div *ngIf="SendingEmailFailed">
                    <p class="text-danger text-center">
                      Slanje emaila nije uspjelo. Pokušajte ponovno.
                    </p>
                  </div>

                  <div class="input-group mt-4 d-flex">
                    <input
                      type="button"
                      class="btn btn-primary flex-fill"
                      style="margin: auto;"
                      value="Pošalji zahtjev"
                      (click)="SendPasswordResetEmail(email.value)"
                    />
                  </div>
                </div>

                <ng-template #emailSent>
                  <p class="text-body">
                    Zahtjev je poslan na {{ Email }}. U vašem inboxu se nalazi
                    link na kojem možete promjeniti lozinku. Možete i ponovno
                    poslati zahtjev.
                  </p>
                  <button
                    class="btn btn-info flex-fill"
                    (click)="ResendPasswordEmail()"
                  >
                    Ponovno pošalji zahtjev
                  </button>
                </ng-template>
              </div>
            </div>
          </div>

          <span>
            Vrati se?
            <a
              (click)="router.navigate(['sign-in'])"
              href="javascript:void(null);"
              >Prijava</a
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #sendingEmail>
  <div class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <p>
      Slanje emaila...
    </p>
  </div>
</ng-template>
